<?xml version='1.0' encoding='utf-8'?>
<plugin id="webView" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>WebView</name>
	<js-module name="AppWebView" src="www/AppWebView.js">
		<clobbers target="cordova.plugins.AppWebView" />
	</js-module>

	<platform name="ios">
		
		<config-file parent="/*" target="config.xml">
			<feature name="AppWebView">
				<param name="ios-package" value="AppWebView"/>
			</feature>
		</config-file>

        <header-file src="src/ios/AppWebView.h" />
		<source-file src="src/ios/AppWebView.m" />
		<header-file src="src/ios/AppViewController.h" />
		<source-file src="src/ios/AppViewController.m" />
	</platform>
</plugin>